*, *::before, *::after {
  margin: 0;
  box-sizing:border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container {
  border: 2px solid black;
  width: 500px;
  height: 600px;
  margin: 200px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:lightgray;
}

.divider {
  border: 2px solid black;
  width: 95%;
  height: 95%;
}

.display {
  width: 100%;
  height: 20%;
  border: 2px solid black;
}

.buttons {
  width: 100%;
  height: 100%;
  display: flex;
}

.column {
  height: 80%;
}

.one {
  flex-grow: 2;
  display: flex;
  flex-wrap: wrap;
}

.two, .three {
  flex-grow: 1;
}

#clear {
  height: 20%;
  width: 100%;
}

.column.one .small {
  width: 50%;
  height: 20%;
}

.column.two .small {
    width: 100%;
    height: 20%;
}

.column.three .small {
  width: 100%;
  height: 20%;
}

#equal {
  width: 100%;
  height: 40%;
}

